@import '../assets/styles/main.scss';

  // Add any additional styling here
  .g-2  .content{
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
  
    .button-and-text {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }
  
    h2{
      margin-left: 1rem;
      color: $secondary-green-100;
      font-size: x-large;
      font-weight: $font-weight-regular;
    }
  
  }
  












