/* Import SCSS partials */
/* EXAMPLE CURRENTLY SUBJECT TO CHANGE */
/**
 * Colors
 * ----------------------------------------------------------------------------
 * This file defines the color palette used in the project. Modify these
 * variables to customize the colors according to your design requirements.
 */
/* Primary Colors */
/* Secondary Colors */
/* Light Colors */
/* Accent Colors */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto&display=swap");
.container {
  width: -moz-max-content;
  width: max-content;
  height: auto;
  margin: 0 auto;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.footer-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  align-self: flex-end;
}
.footer-button.end {
  justify-content: flex-start;
}

.enchir-icon {
  width: 6.5rem;
  height: 6.5rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.text-contain {
  text-align: left;
}

/* EXAMPLE CURRENTLY SUBJECT TO CHANGE */
/**
 * Colors
 * ----------------------------------------------------------------------------
 * This file defines the color palette used in the project. Modify these
 * variables to customize the colors according to your design requirements.
 */
/* Primary Colors */
/* Secondary Colors */
/* Light Colors */
/* Accent Colors */
/* EXAMPLE CURRENTLY SUBJECT TO CHANGE */
/**
 * Colors
 * ----------------------------------------------------------------------------
 * This file defines the color palette used in the project. Modify these
 * variables to customize the colors according to your design requirements.
 */
/* Primary Colors */
/* Secondary Colors */
/* Light Colors */
/* Accent Colors */
/* if circle button, the size of the drop-shadow is slightly smaller */
/**
 * Fonts
 * ----------------------------------------------------------------------------
 * This file defines the font families, sizes, and other typography-related styles.
 * Modify these variables to customize the fonts used in the project.
 */
/* External Font Import */
/* Font Family */
/* In the _typography.scss file, you generally define the font families to be used 
 * throughout your application and their associated font sizes, line heights, and other 
 * typographic styles. However, you do not directly import the font files (e.g., .woff, 
 * .woff2, .ttf, etc.) into this file. */
/* Font Sizes */
/* Font Weights */
/* Font Style */
/* Line Heights */
/* Typography Usage */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: rgb(68, 40, 0);
}

/* Headings */
h1 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 122%;
  color: rgb(68, 40, 0);
}

h2 {
  font-weight: 500;
  font-size: 1.8125rem;
  line-height: 122%;
  color: rgb(68, 40, 0);
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 122%;
  color: rgb(68, 40, 0);
  margin-bottom: 1rem;
}

/* Paragraphs */
p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 170%;
}
p.header {
  color: rgba(68, 40, 0, 0.5);
}
p.desc-text {
  font-family: "Roboto", sans-serif;
  color: rgb(143, 121, 70);
}

/* Links */
a {
  text-decoration: none;
}
a::before, a::after, a:active, a:visited {
  color: rgb(68, 40, 0);
}

/* EXAMPLE CURRENTLY SUBJECT TO CHANGE */
/**
 * Colors
 * ----------------------------------------------------------------------------
 * This file defines the color palette used in the project. Modify these
 * variables to customize the colors according to your design requirements.
 */
/* Primary Colors */
/* Secondary Colors */
/* Light Colors */
/* Accent Colors */
/* if circle button, the size of the drop-shadow is slightly smaller */
/* Import component-specific styles */
.button-contain {
  font-size: 0.875rem;
  color: #1c1c1c;
  border: solid 1px #1c1c1c;
  border-radius: 0.6rem;
  padding: 0.6rem 2rem;
  transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button-contain:hover {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
}
.button-contain.yes {
  transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button-contain.yes:hover {
  background-color: rgba(137, 193, 200, 0.5);
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
}
.button-contain.no {
  transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button-contain.no:hover {
  background-color: rgba(251, 194, 119, 0.5);
  box-shadow: 2.5px 2.5px 0px 0px rgba(0, 0, 0, 0.25);
}/*# sourceMappingURL=Button.css.map */