
@import '../assets/styles/main.scss';

.circle-button-contain {
   color: #1c1c1c;
   border: solid 1px $primary-dark-brown-100;
   border-radius: 50%;
   padding: 1.125rem;
   @include standard-hover($small-shadow);

   position: relative;
    width: 20px;
    height: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   
   &.info {
    @include standard-hover( $small-shadow, $accent-orange-50);
   }

   &.cross {
    @include standard-hover( $small-shadow, $light-blue-50);
   }

   &.arrow {
    @include standard-hover( $small-shadow, $accent-orange-50);
   }
}

