/* Import SCSS partials */
/* EXAMPLE CURRENTLY SUBJECT TO CHANGE */
/**
 * Colors
 * ----------------------------------------------------------------------------
 * This file defines the color palette used in the project. Modify these
 * variables to customize the colors according to your design requirements.
 */
/* Primary Colors */
/* Secondary Colors */
/* Light Colors */
/* Accent Colors */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto&display=swap");
.container {
  width: -moz-max-content;
  width: max-content;
  height: auto;
  margin: 0 auto;
}

/* EXAMPLE CURRENTLY SUBJECT TO CHANGE */
/**
 * Colors
 * ----------------------------------------------------------------------------
 * This file defines the color palette used in the project. Modify these
 * variables to customize the colors according to your design requirements.
 */
/* Primary Colors */
/* Secondary Colors */
/* Light Colors */
/* Accent Colors */
/* EXAMPLE CURRENTLY SUBJECT TO CHANGE */
/**
 * Colors
 * ----------------------------------------------------------------------------
 * This file defines the color palette used in the project. Modify these
 * variables to customize the colors according to your design requirements.
 */
/* Primary Colors */
/* Secondary Colors */
/* Light Colors */
/* Accent Colors */
/**
 * Fonts
 * ----------------------------------------------------------------------------
 * This file defines the font families, sizes, and other typography-related styles.
 * Modify these variables to customize the fonts used in the project.
 */
/* External Font Import */
/* Font Family */
/* In the _typography.scss file, you generally define the font families to be used 
 * throughout your application and their associated font sizes, line heights, and other 
 * typographic styles. However, you do not directly import the font files (e.g., .woff, 
 * .woff2, .ttf, etc.) into this file. */
/* Font Sizes */
/* Font Weights */
/* Font Style */
/* Line Heights */
/* Typography Usage */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: rgb(68, 40, 0);
}

/* Headings */
h1 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 122%;
  color: rgb(68, 40, 0);
}

h2 {
  font-weight: 500;
  font-size: 1.8125rem;
  line-height: 122%;
  color: rgb(68, 40, 0);
}

h3 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 122%;
  color: rgb(68, 40, 0);
}

/* Paragraphs */
p {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 170%;
}
p .header {
  color: rgba(68, 40, 0, 0.5);
}
p .desc-text {
  font-family: "Roboto", sans-serif;
  color: rgb(143, 121, 70);
}

/* Links */
a {
  text-decoration: none;
}
a::before, a::after, a:active, a:visited {
  color: rgb(68, 40, 0);
}

/* EXAMPLE CURRENTLY SUBJECT TO CHANGE */
/**
 * Colors
 * ----------------------------------------------------------------------------
 * This file defines the color palette used in the project. Modify these
 * variables to customize the colors according to your design requirements.
 */
/* Primary Colors */
/* Secondary Colors */
/* Light Colors */
/* Accent Colors */
/* Import component-specific styles */
.circle-button-contain {
  color: #1c1c1c;
  border: solid 1px #1c1c1c;
  border-radius: 50%;
  padding: 10px 10px;
  transition: all 300ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-button-contain:hover {
  transform: scale(0.98);
  box-shadow: none;
}

.cross-line1,
.cross-line2,
.check-line1,
.check-line2 {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: red; /* or green for check */
}

.cross-line1 {
  transform: rotate(45deg);
}

.cross-line2 {
  transform: rotate(-45deg);
}

.check-line1 {
  transform: rotate(45deg);
  top: 40%;
  left: 35%;
}

.check-line2 {
  transform: rotate(-45deg);
  top: 50%;
  left: 60%;
}/*# sourceMappingURL=CircleButton.css.map */