/* EXAMPLE CURRENTLY SUBJECT TO CHANGE */
//Define global variables here, such as colors, fonts, and spacing, which will be used throughout the project.

/**
 * Colors
 * ----------------------------------------------------------------------------
 * This file defines the color palette used in the project. Modify these
 * variables to customize the colors according to your design requirements.
 */

 /* Primary Colors */
 $primary-dark-brown-100: rgb(68, 40, 0);
 $primary-dark-brown-80: rgba(68, 40, 0, 0.5);
 $primary-black-100: rgb(0, 0, 0);
 $primary-black-50: rgba(0, 0, 0, 0.5);

 
  /* Secondary Colors */
 $secondary-green-100: rgb(143, 121, 70);
 $secondary-green-50: rgba(143, 121, 70, .5);
 
  /* Light Colors */
 $light-blue-100: rgb(137, 193, 200);
 $light-blue-50: rgba(137, 193, 200, 0.5);
 
 
  /* Accent Colors */
  $accent-orange-100: rgb(251, 194, 119);
  $accent-orange-50:rgba(251, 194, 119,.5);
 
 