.container {
  width: max-content;
  height: auto;
  margin: 0 auto;
}

.content {
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
}

.footer-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 1rem auto 0 auto;
  align-self: flex-end;

  h3 {
    margin: 0;
  }

  &.end {
    justify-content: flex-start;
  }
}

.enchir-icon {
  width: 6.5rem;
  height: 6.5rem;
  object-fit: contain;
}

.text-contain {
  text-align: left;
}


.box {
  padding: 2rem 1rem;
  width: 500px;
  position: fixed;
  top: 50px; // Adjust as needed
  right: 100px; // Adjust as needed
  background-color: white;
  border: 1px solid gray;
  border-radius: 1.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999; // Make sure it's above other content 
}